{% extends 'base.html.twig' %}

{% block title %}Tag "{{ tag.title }}"{% endblock %}

{% block body %}
    <h1><i class="fas fa-tag mr-2 text-muted"></i>{{ tag.title }}</h1>
    <div class="row">
        <div class="col-sm-5">
            <div class="p-2 bg-secondary text-white text-center">Technical details</div>
            <ul class="list-group">
                <li class="list-group-item rounded-0 text-white">
                    {% if tag.isVisible == 0 %}
                        <span class="d-inline-block px-2 bg-danger">Disabled</span>
                    {% else %}
                        <span class="d-inline-block px-2 bg-success">Is shown</span>
                    {% endif %}
                </li>
                <li class="list-group-item rounded-0"><strong>ID:</strong> {{ tag.id }}</li>
                <li class="list-group-item rounded-0"><strong>Slug:</strong> {{ tag.slug }}</li>
            </ul>
            <div class="mt-2 p-2 bg-secondary text-white text-center">Actions</div>
            <div class="text-center px-2 py-3 border">
                <a class="btn btn-warning" href="{{ path('tag_edit', {'id': tag.id}) }}" role="button"><i class="fas fa-edit mr-2"></i>Edit</a>
                <a class="btn btn-danger" href="{{ path('tag_delete', {'id': tag.id}) }}" role="button"><i class="fas fa-trash-alt mr-2"></i>Delete</a>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="p-2 bg-secondary text-white text-center">Communication</div>
            <ul class="list-group">
                <li class="list-group-item rounded-0">
                    <strong>Publications </strong><span class="text-muted small">(with this tag):</span>
                    <div class="mt-2">
                        {% set users = {} %}
                        {% if tag.articles.count > 0 %}
                            {% for article in tag.articles %}
                                <a href="{{ path('article_show', {'id': article.id}) }}" class="d-block m-1">{{ article.title }}</a>
                                {% set users = users|merge({('u_'~article.user.id):(article.user)}) %}
                            {% endfor %}
                        {% else %}
                            <span class="text-muted small">no posts</span>
                        {% endif %}
                    </div>
                </li>
                <li class="list-group-item rounded-0">
                    <strong>Users </strong><span class="text-muted small">(posting with this tag):</span>
                    <div class="mt-2">
                        {% if users %}
                            {% for user in users %}
                                <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-light btn-sm rounded-0 m-1"><i class="fas fa-user mr-2"></i>{{ user.login }}</a>
                            {% endfor %}
                        {% else %}
                            <span class="text-muted small">no users</span>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
