{% extends 'base.html.twig' %}

{% block title %}Теги{% endblock %}

{% block body %}
    <h1>Все теги</h1>
    {% if tags %}
    <table class="table mt-3">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Публикации</th>
        </tr>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.title }}</td>
                <td>{{ tag.articles.count }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('tag_show', {'id': tag.id}) }}" role="button">Подробнее</a>
                    <a class="btn btn-warning" href="{{ path('tag_edit', {'id': tag.id}) }}" role="button">Редактировать</a>
                    <a class="btn btn-danger" href="{{ path('tag_delete', {'id': tag.id}) }}" role="button">Удалить</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p class="mt-3">Еще нет тегов!</p>
    {% endif %}
    <a class="btn btn-success" href="{{ path('tag_add') }}" role="button">Добавить тег</a>
{% endblock %}
