{% extends 'fronted/base.html.twig' %}

{% block title %}Edit profile{% endblock %}

{% block body %}
    <h1>Edit profile</h1>
    <div class="mt-3 form-content">
        {{ form_start(form_add) }}
        {{ form_row(form_add.login) }}
        {{ form_row(form_add.password) }}
        {{ form_row(form_add.name) }}
        {{ form_row(form_add.email) }}
        <div class="row">
            <div class="col-auto">{{ form_row(form_add.gender) }}</div>
            <div class="col-auto">{{ form_row(form_add.birth_date) }}</div>
        </div>
        {{ form_end(form_add) }}
    </div>
{% endblock %}
