{% extends 'fronted/base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    <div class="mt-3 form-content">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.login) }}
        {{ form_row(registrationForm.password) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.email) }}
        <div class="row">
            <div class="col-auto">{{ form_row(registrationForm.gender) }}</div>
            <div class="col-auto">{{ form_row(registrationForm.birth_date) }}</div>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
