{% extends 'fronted/base.html.twig' %}

{% block title %}Publications{% endblock %}

{% block body %}
    <h1 class="mb-3">Publications</h1>
    {% if articles %}
        <div class="row">
            {% for article in articles %}
                <div class="col-xs-2 col-sm-3 pb-3">
                    <div class="card h-100">
                        <a href="{{ path('article_show', {'id': article.id}) }}"><img src="{% if article.image %}{{ asset('uploads/articles/'~article.image) }}{% else %}{{ asset('build/images/common/no-image.png') }}{% endif %}" class="card-img-top" alt="{{ article.title }}, photo"></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <div class="mt-2 text-info">
                                <a href="#" class="text-info"><i class="fas fa-flag mr-2"></i>{{ article.category.title }}</a>
                            </div>
                            <div class="text-muted">
                                <i class="fas fa-calendar-check mr-2"></i>{{ article.createDate.format("d.m.Y") }}
                            </div>
                            <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-primary mt-3">Read</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="mt-3">No posts yet!</p>
    {% endif %}
{% endblock %}
