{% extends 'admin/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <div class="mt-3 form-content">
        {{ form_start(form_add) }}
            {{ form_widget(form_add) }}
        {{ form_end(form_add) }}
    </div>
{% endblock %}
