{% extends 'admin/base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}
    <a class="btn btn-success" href="{{ path('admin_tag_add') }}" role="button"><i class="fas fa-plus-circle mr-2"></i>Add tag</a>
    <div class="my-3">
        {{ form_start(form_sort) }}
        <div class="d-inline-block">Tags</div>
        <div class="d-inline-block">{{ form_row(form_sort.article) }}</div>
        <div class="d-inline-block">{{ form_row(form_sort.submit) }}</div>
        {{ form_end(form_sort) }}
    </div>
    {% if tags %}
    <table class="table mt-3">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Publications</th>
            <th class="min-width-actions">Actions</th>
        </tr>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td {% if tag.isVisible == 0 %}
                        class="text-danger"
                    {% else %}
                        class="text-dark"
                    {% endif %}>{{ tag.title }}</td>
                <td>{{ tag.articles.count }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('admin_tag_show', {'id': tag.id}) }}" role="button"><i class="fas fa-info-circle"></i></a>
                    <a class="btn btn-warning" href="{{ path('admin_tag_edit', {'id': tag.id}) }}" role="button"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger" href="{{ path('admin_tag_delete', {'id': tag.id}) }}" role="button"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p class="mt-3">No tags yet!</p>
    {% endif %}
{% endblock %}
