{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <a class="btn btn-success" href="{{ path('category_add') }}" role="button"><i class="fas fa-plus-circle mr-2"></i>Add category</a>
    <div class="mt-3">
        {{ form_start(form_sort) }}
        <div class="d-inline-block">Categories with</div>
        <div class="d-inline-block">{{ form_row(form_sort.symbol) }}</div>
        <div class="d-inline-block">than</div>
        <div class="d-inline-block">{{ form_row(form_sort.num) }}</div>
        <div class="d-inline-block">posts</div>
        <div class="d-inline-block">{{ form_row(form_sort.submit) }}</div>
        {{ form_end(form_sort) }}
    </div>
    {% if categories %}
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Publications</th>
            <th class="min-width-actions">Actions</th>
        </tr>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td {% if category.isVisible == 0 %}
                        class="text-danger"
                    {% else %}
                        class="text-dark"
                    {% endif %}>{{ category.title }}</td>
                <td>{{ category.articles.count }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('category_show', {'id': category.id}) }}" role="button"><i class="fas fa-info-circle"></i></a>
                    <a class="btn btn-warning" href="{{ path('category_edit', {'id': category.id}) }}" role="button"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger" href="{{ path('category_delete', {'id': category.id}) }}" role="button"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p class="mt-3">There are no categories yet!</p>
    {% endif %}
{% endblock %}
