{% extends 'base.html.twig' %}

{% block title %}Редактирование публикации{% endblock %}

{% block body %}
    <h1>Редактирование публикации</h1>
    <form method="post" action="{{ path('article_edit', {'id': article.id}) }}">
        <div class="form-group">
            <label for="formGroupCategory">Категория *</label>
            <select name="category" class="form-control w-50" id="formGroupCategory" required>
                <option value="" class="text-muted">выберите категорию</option>
                {% if categories %}
                    {% for category in categories %}
                        <option value="{{ category.id }}"{% if category.id == article.category.id %} selected{% endif %}>{{ category.title }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <label for="formGroupTags">Теги</label>
            <select name="tags[]" class="form-control w-50" id="formGroupTags" multiple>
                {% if tags %}
                    {% for tag in tags %}
                        <option value="{{ tag.id }}"{% if article.tag.contains(tag) %} selected{% endif %}>{{ tag.title }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <label for="formGroupTitle">Заголовок *</label>
            <input type="text" name="title" value="{{ article.title }}" class="form-control w-50" id="formGroupTitle" placeholder="Введите заголовок" required>
        </div>
        <div class="form-group">
            <label for="formGroupSlug">Slug</label>
            <input type="text" name="slug" value="{{ article.slug }}" class="form-control w-50" id="formGroupSlug" placeholder="Введите slug">
        </div>
        <div class="form-group">
            <label for="formGroupImage">Главное изображение</label>
            <input type="text" name="image" value="{{ article.image }}" class="form-control w-50" id="formGroupImage" placeholder="Ссылка на изображение">
        </div>
        <div class="form-group">
            <label for="formGroupBody">Тело публикации *</label>
            <textarea name="body" rows="10" class="form-control w-50" id="formGroupBody" placeholder="Напишите что-нибудь" required>{{ article.body }}</textarea>
        </div>
        <div class="form-group">
            <label for="formGroupUser">Пользователь *</label>
            <select name="user" class="form-control w-50" id="formGroupUser" required>
                <option value="" class="text-muted">выберите пользователя</option>
                {% if users %}
                    {% for user in users %}
                        <option value="{{ user.id }}"{% if user.id == article.user.id %} selected{% endif %}>{{ user.login }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <input type="hidden" name="id" value="{{ article.id }}">
        <button type="submit" class="btn btn-success mt-3">Редактировать публикацию</button>
    </form>
{% endblock %}
