{% extends 'base.html.twig' %}

{% block title %}Публикация "{{ article.title }}"{% endblock %}

{% block body %}
    <h1>Публикация "{{ article.title }}"</h1>
    <div class="mt-3">
        <div><strong>ID:</strong> {{ article.id }}</div>
        <div><strong>Slug:</strong> {{ article.slug }}</div>
        <div><strong>Заголовок:</strong> {{ article.title }}</div>
        <div><strong>Категория:</strong> {{ article.category.title }}</div>
        <div><strong>Теги:</strong>
            {% for tag in article.tag %}
                <span class="px-2 py-1 bg-light text-dark d-inline-block mr-1 mb-1">{{ tag.title }}</span>
            {% endfor %}
        </div>
        <div><strong>Создана:</strong> {{ article.createDate.format("d.m.Y H:i") }}</div>
        <div><strong>Изменена:</strong> {{ article.updateDate.format("d.m.Y H:i") }}</div>
        <div><strong>Добавил:</strong> {{ article.user.login }}</div>
        <div><strong>Изображение:</strong> <div class="p-2 text-muted">{{ article.image }}</div></div>
        <div><strong>Тело публикации:</strong> <div class="p-2 text-muted">{{ article.body }}</div></div>
    </div>
    <div class="mt-3">
        <a class="btn btn-warning" href="{{ path('article_edit', {'id': article.id}) }}" role="button">Редактировать</a>
        <a class="btn btn-danger" href="{{ path('article_delete', {'id': article.id}) }}" role="button">Удалить</a>
    </div>
{% endblock %}
