<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block menu %}
            <ul class="nav nav-pills bg-light p-3 mb-3 sticky-top border-bottom">
                <li class="nav-item">
                    <a class="nav-link{% if controller_name == 'MainController' %} active{% endif %}" href="{{ path('index') }}"><i class="fas fa-home"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if controller_name == 'CategoryController' %} active{% endif %}" href="{{ path('category_show_all') }}">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if controller_name == 'TagController' %} active{% endif %}" href="{{ path('tag_show_all') }}">Теги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if controller_name == 'ArticleController' %} active{% endif %}" href="{{ path('article_show_all') }}">Публикации</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if controller_name == 'UserController' %} active{% endif %}" href="{{ path('user_show_all') }}">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if controller_name == 'StatusController' %} active{% endif %}" href="{{ path('status_show_all') }}">Статусы пользователей</a>
                </li>
            </ul>
        {% endblock %}
        <div class="px-3 pb-3">
            {% include 'common/flash_messages.html.twig' %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
