{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <div class="mt-3 form-content">
        {{ form_start(form_add) }}
            {{ form_row(form_add.name) }}
            {{ form_row(form_add.login) }}
            {{ form_row(form_add.password) }}
            {{ form_row(form_add.status) }}
            <div class="row">
                <div class="col-auto">{{ form_row(form_add.gender) }}</div>
                <div class="col-auto">{{ form_row(form_add.birth_date) }}</div>
            </div>
        {{ form_end(form_add) }}
    </div>
{% endblock %}
