{% extends 'base.html.twig' %}

{% block title %}Пользователь "{{ user.login }}"{% endblock %}

{% block body %}
    <h1>{{ user.login }}</h1>
    <div class="row">
        <div class="col-sm-5">
            <div class="p-2 bg-secondary text-white text-center">Информация</div>
            <ul class="list-group">
                <li class="list-group-item rounded-0"><strong>ID:</strong> {{ user.id }}</li>
                <li class="list-group-item rounded-0"><strong>Статус:</strong> <a href="{{ path('status_show', {'id': user.status.id}) }}">{{ user.status.title }}</a></li>
                <li class="list-group-item rounded-0"><strong>Логин:</strong> {{ user.login }}</li>
                    {% if user.name %}
                        <li class="list-group-item rounded-0"><strong>Имя:</strong> {{ user.name }}</li>
                    {% endif %}
                    {% if user.gender %}
                        <li class="list-group-item rounded-0"><strong>Пол:</strong> {{ user.gender }}</li>
                    {% endif %}
                    {% if user.birthDate %}
                        <li class="list-group-item rounded-0"><strong>Дата рождения:</strong> {{ user.birthDate.format('d.m.Y') }} <strong class="text-info">({{ user.birthDate.diff(date()).format('%Y') }} лет)</strong></li>
                    {% endif %}
                <li class="list-group-item rounded-0"><strong>Дата регистрации:</strong> {{ user.registrationDate.format('d.m.Y H:i') }}</li>
            </ul>
            <div class="mt-2 p-2 bg-secondary text-white text-center">Действия</div>
            <div class="text-center px-2 py-3 border">
                <a class="btn btn-warning" href="{{ path('user_edit', {'id': user.id}) }}" role="button"><i class="fas fa-edit mr-2"></i>Редактировать</a>
                <a class="btn btn-danger" href="{{ path('user_delete', {'id': user.id}) }}" role="button"><i class="fas fa-trash-alt mr-2"></i>Удалить</a>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="p-2 bg-secondary text-white text-center">Связи</div>
            <ul class="list-group">
                <li class="list-group-item rounded-0">
                    <strong>Добавленные публикации:</strong>
                    <div class="mt-2">
                        {% if user.articles.count > 0 %}
                            {% for article in user.articles %}
                                <a href="{{ path('article_show', {'id': article.id}) }}" class="d-block m-1">{{ article.title }}</a>
                            {% endfor %}
                        {% else %}
                            <span class="text-muted small">нет публикаций</span>
                        {% endif %}
                    </div>
                </li>
                <li class="list-group-item rounded-0">
                    <strong>Избранные публикации </strong><span class="text-muted small">(добавленные в избранное):</span>
                    <div class="mt-2">
                        {% if user.favoriteArticles.count > 0 %}
                            {% for article in user.favoriteArticles %}
                                <a href="{{ path('article_show', {'id': article.id}) }}" class="d-block m-1">{{ article.title }}</a>
                            {% endfor %}
                        {% else %}
                            <span class="text-muted small">нет публикаций</span>
                        {% endif %}
                    </div>
                </li>
                <li class="list-group-item rounded-0">
                    <strong>Избранные пользователи </strong><span class="text-muted small">(добавленные в избранное):</span>
                    <div class="mt-2">
                        {% if user.favoriteUsers.count > 0 %}
                            {% for users in user.favoriteUsers %}
                                <a href="{{ path('user_show', {'id': users.id}) }}" class="btn btn-light btn-sm rounded-0 m-1"><i class="fas fa-user mr-2"></i>{{ users.login }}</a>
                            {% endfor %}
                        {% else %}
                            <span class="text-muted small">нет пользователей</span>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
